.RecipeBox {
	background-color: rgb(255, 255, 255);
}

.navbar-brand {
	color: white;
	font-size: 26px;
	font-weight: 600;
}

.navbar-nav {
	color: white;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	flex-grow: 1;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
}

.nav-link .navLabel:hover {
	color: white;
	text-decoration: underline;
}

.nav-item .navLabel {
	color: white;
	text-decoration: underline;

}

.customNav {
	height: 50px;
	align-items: center;
}



.logoLabel {
	color: black;
	font-size: 20px;
}

/* .nav-link {
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
} */
.navLabel {
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	flex-grow: 1;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
}

.navLabel:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}


/* submenuuuuu */


.cardmEnuSubMenus {
	background-color: white;
	border-radius: 14px;
	margin-top: 50px;
	padding: 18px;
}

.cardmEnuSubMenu {
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	font-weight: 600;
	text-align: justify;

}

.cardViewMoreBox {
	width: fit-content;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: white;
	color: red;
	font-size: 16px;
	font-weight: 600;
	border: 2px solid red;
	padding: 6px;
	padding-top: 2px;
	padding-right: 13px;
	padding-left: 13px;
	border-radius: 20px;
}

.cardViewMoreBox:hover {
	background-color: red;
	color: white;

}






img {
	height: 150px;
	width: 100%;
}

.item {
	padding-left: 5px;
	padding-right: 5px;
}

.item-card {
	transition: 0.5s;
	cursor: pointer;
}

.item-card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
}

.item-card-title i {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	color: #ffa710
}

.card-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;

}

.card:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
	height: 80px;
}

.card::before,
.card::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform .3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}

.card::before {
	transform-origin: left top;
}

.card::after {
	transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
	transform: scale3d(1, 1, 1);
}

.latestRecipeText {
	margin-top: 22px;
	margin-bottom: 10px;
	color: white;
	font-size: 35px;
	display: flex;
	justify-content: center;
}

.latestRecepieSubText {
	margin-top: 7px;
	margin-bottom: 30px;
	color: white;
	display: flex;
	justify-content: center;
}

body {
	min-height: 100vh;
	background: #fafafa;
}

.carousalImg1 {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: 210px;
	left: 13%;
	right: 12%;
}

.CarosalTextsub {
	color: #dedede;
	font-size: 25px;
	font-family: 'Dancing Script', cursive;
	flex-grow: 1;
	font-weight: 800;
	text-align: center;
	text-decoration: none;
}

.CarosalText1 {
	color: white;
	font-size: 35px;
	font-family: 'Times New Roman', Times, serif;
	flex-grow: 1;
	font-weight: 800;
	text-align: center;
	text-decoration: none;
}
.aboutUsBox{
	display: flex;
	padding: 20px;
	justify-content: center;
	border:3px solid  #fc9d52;
}
.aboutUsBoxText {
	color: white;
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	flex-grow: 1;
	font-weight: 500;
	text-align: justify;
	text-decoration: none;
}

.social-link {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 0.9rem;
	text-decoration-line: none;
}

.social-link:hover,
.social-link:focus {
	background: black;
	text-decoration: none;
	color: white;
}

.progress {
	height: 10px;
}

.__area {
	font-family: 'Cairo', sans-serif;
	color: #7c7671;
	margin-top: 100px
}

.__card {
	max-width: 350px;
	margin: auto;
	cursor: pointer;
	position: relative;
	display: inline-block;
	color: unset;
}

.__card:hover {
	color: unset;
	text-decoration: none;
}

.__img {
	border-radius: 10px;
	height: 100px;
}

.img-fluid__img {
	border-radius: 10px;
	height: 350px;
}

.__favorit {
	background-color: #fff;
	border-radius: 8px;
	color: #fc9d52;
	position: absolute;
	right: 15px;
	top: 8px;
	padding: 3px 4px;
	font-size: 22px;
	line-height: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	z-index: 1;
	border: 0;
}

.__favorit:hover {
	background-color: #fc9d52;
	color: #fff;
	text-decoration: none;
}

.__card_detail {
	box-shadow: 0 4px 15px rgba(175, 77, 0, 0.13);
	padding: 13px;
	border-radius: 8px;
	margin: -30px 10px 0;
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.__card_detail h4 {
	color: #474340;
	line-height: 100%;
	font-weight: bold;
}

.__card_detail p {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 0.4rem;
}

.__type span {
	background-color: #feefe3;
	padding: 5px 10px 7px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	color: #fc9d52;
	font-weight: bold;
	line-height: 100%;
}

.__detail {
	margin-top: 5px;
}

.__detail i {
	font-size: 21px;
	display: inline-block;
	vertical-align: middle;
}

.__detail i:nth-child(3) {
	margin-left: 15px;
}

.__detail span {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
}



/* receipie */



.page_title {
	padding: 30px 0px;
	/* color: white; */
}

.page_title h1 {
	color: white;
	font-weight: 700;
	line-height: 2;
	margin-bottom: 0;
	position: relative;
	text-transform: capitalize;
}

.page_title h1::before {
	background: white;
	width: 70px;
	height: 2px;
	position: absolute;
	content: '';
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page_title h1::after {
	position: absolute;
	content: '';
	background: white;
	width: 30px;
	height: 2px;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* /Menu starts/ */
.menu_tab {
	margin: 0 auto;
	margin-bottom: 18px;
	justify-content: center;
}

.nav-item {
	display: inline-block;
	text-align: center;
}

.nav-tabs .nav-link {
	transition: .3s;
}

.nav-tabs .nav-link.active {
	background: white;
	color: black;
	font-weight: 700;
	border: 1px solid black;
	text-transform: capitalize;
}

.nav-link {
	color: white;
}

.nav-tabs .nav-link {
	background: black;
	color: #fff;
	/* border: 1px solid white; */
}

.nav-tabs .nav-link:hover {
	background: black;
	color: #fff;
	border: 1px solid white;
}

.single_menu {
	position: relative;
	margin-bottom: 75px;
	transition: .3s;
}

.single_menu:hover img {
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

}

.single_menu img {
	width: 33%;
	position: absolute;
	height: 140px;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	transition: .3s;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.menu_content {
	padding-left: 200px;
}

.menu_content h4 {
	font-size: 25px;
	color: white;
	font-weight: 300;
	border-bottom: 1px dashed white;
	line-height: 2;
	text-transform: capitalize;
}

.menu_content h4 span {
	font-size: 25px;
	font-weight: 800;
	float: right;
	font-style: italic;
	color: #c0392b;
}

.menu_content p {
	color: white;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 1px;
}

.menu_btn.btn.btn-danger {
	margin: 0 auto;
	display: block;
	width: 180px;
}

/* /Menu ends/ */


.btn.btn-danger {
	background: #c0392b;
	border: 1px solid #c0392b;
	transition: .3s;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	font-weight: 700;
	overflow: hidden;
	padding: 15px 25px;
}

.btn.btn-danger::before {
	position: absolute;
	content: '';
	background: #e74c3c;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 100%;
	transition: .3s;
	z-index: -1;
}

.btn.btn-danger:hover:before {
	top: 0;
	left: 0;
}



/* about */


:root {
	--wesbos: #ffc600;
}

.menu {
	display: none;

	&--is-visible {
		display: grid;
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 80px;
	}
}

.item {
	&__header {
		display: flex;
		align-items: baseline;
	}

	&__title {
		font: 35px cookie, cursive;
		color: var(--wesbos);
		letter-spacing: 2px;
		margin: 0;
	}

	&__dots {
		flex: 1;
		border-bottom: 1px dashed #aaa;
		margin: 0 15px;
	}

	&__price {
		color: var(--wesbos);
		font: 31px cookie, cursive;
	}

	&__description {
		margin-bottom: 40px;
	}
}

.buttons-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 35px;

	@media (min-width: 768px) {
		margin-bottom: 60px;
	}
}

.button {
	margin: 5px 15px;
	padding: 10px 20px;
	border: 1px solid var(--wesbos);
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.highlight {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: var(--wesbos);
	border-radius: 3px;
	z-index: -1;
	transition: 0.24s;
}

* {
	box-sizing: border-box;
}

.body2 {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("https://i.imgur.com/er8DtBW.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #fff;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
	display: inline-block;
	border-bottom: 4px solid var(--wesbos);
	margin-top: 0;
	font: 50px cookie, cursive;
}



/* shop */




/**
 * Support: web-master72@yandex.ru;
 * Gallery, Services, Menu labels - #fae7d7;
 * Links, Buttons - #F5D76E;
/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic);

body {
	overflow-x: hidden;
	font: 400 16px/1.8 'Crimson Text', serif;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #F5D76E;
}

a:hover {
	text-decoration: none;
	color: white;
}

/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */

.form-control,
.navbar-custom {
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

a,
.btn,
.navbar a {
	-webkit-transition: all 0.125s ease-in-out 0s;
	-moz-transition: all 0.125s ease-in-out 0s;
	-ms-transition: all 0.125s ease-in-out 0s;
	-o-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.label,
.alert,
.progress,
.form-control,
.modal-content,
.panel-heading,
.panel-group .panel,
.nav-tabs>li>a,
.nav-pills>li>a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 700 54px/1.2 'Crimson Text', serif;
	margin: 0 0 20px;
	color: white;
}

h2 {
	font-size: 48px;
	margin: 0 0 18px;
}

h3 {
	font-size: 40px;
	margin: 0 0 15px;
}

h4 {
	font-size: 20px;
	margin: 0 0 10px;
}

h5 {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 8px;
}

h6 {
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 5px;
}

blockquote {
	font: 700 50px/1.2 'Dancing Script', cursive;
	margin: 0 0 20px;
	padding: 0;
	border: 0;
}

blockquote small,
blockquote footer,
blockquote .small {
	display: block;
	font-size: 40%;
	line-height: 1.42857143;
	color: white;
}

.intro-title,
.module-title,
.callout-text,
.iconbox-title {
	font: 700 28px/1.2 'Dancing Script', cursive;
	margin: 0 0 18px;
	color: white;
}

.module-title,
.callout-text {
	font-size: 50px;
	color: white;
}

.module-subtitle {
	font: 400 16px/1.2 'Crimson Text', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	margin: 0;
}

.intro-title {
	font-size: 55px;
}

/* ---------------------------------------------- /*
 * Alerts style
/* ---------------------------------------------- */

.alert {
	border: 0;
}

.help-block {
	font-size: 14px;
	color: #a94442;
}

.help-block ul {
	list-style: none;
	padding: 0 15px;
	margin: 0;
}

/* ---------------------------------------------- /*
 * Progress bars
/* ---------------------------------------------- */

.progress,
.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress-bar {
	background-color: #F5D76E;
}

/* ---------------------------------------------- /*
 * Tabs
/* ---------------------------------------------- */

.nav-pills,
.nav-tabs {
	margin-bottom: 20px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background: #F5D76E;
}

/* ---------------------------------------------- /*
 * Panels
/* ---------------------------------------------- */

.panel {
	border: 0;
}

.panel-body {
	background: #f5f5f5;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border: 0;
}

/* ---------------------------------------------- /*
 * Modal
/* ---------------------------------------------- */

.modal-content {
	border: 0;
}

/* ---------------------------------------------- /*
 * Labels
/* ---------------------------------------------- */

.label {
	font: 400 italic 10px/1.8 'Crimson Text', serif;
	padding: .2em .6em .2em;
	letter-spacing: 1px;
	font-size: 60%;
}

.label-custom-1 {
	background: #F5D76E;
}

.label-custom-2 {
	background: #000;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
	border: 0;
	background: transparent;
	border-bottom: 1px dotted #DDD;
	font-size: 16px;
	padding: 0;
}

.form-control:focus {
	border-color: #444444;
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 38px;
	font-size: 18px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
	font-size: 11px;
	height: 30px;
}

textarea.form-control {
	padding: 15px 0;
}

.form-control-black {
	border: 1px solid #DDD;
}

.form-control-black:focus {
	border-color: #444444;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
	letter-spacing: 1px;
	font-size: 16px;
	padding: 8px 26px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
	outline: inherit !important;
}

.btn-custom-1 {
	background: transparent;
	border: 1px solid #000;
	color: #000;
}

.btn-custom-1:hover,
.btn-custom-1:focus,
.btn-custom-1:active,
.btn-custom-1.active {
	background: #000;
	border-color: #000;
	color: #fff;
}

.btn-custom-2 {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.btn-custom-2:hover,
.btn-custom-2:focus,
.btn-custom-2:active,
.btn-custom-2.active {
	background: #fff;
	border-color: #fff;
	color: #000;
}

.btn-custom-3 {
	background: transparent;
	border: 1px solid #000;
	color: #000
}

.btn-custom-3:hover,
.btn-custom-3:focus,
.btn-custom-3:active,
.btn-custom-3.active {
	background: #F5D76E;
	border-color: #F5D76E;
	color: #FFF;
}

.btn-custom-4 {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.btn-custom-4:hover,
.btn-custom-4:focus,
.btn-custom-4:active,
.btn-custom-4.active {
	background: #F5D76E;
	border-color: #F5D76E;
	color: #fff;
}

.btn-custom-5 {
	background: #000;
	border: 1px solid #000;
	color: #fff;
}

.btn-custom-5:hover,
.btn-custom-5:focus,
.btn-custom-5:active,
.btn-custom-5.active {
	background: #fff;
	border-color: #fff;
	color: #000;
}

/* Button size */

.btn-lg,
.btn-group-lg>.btn {
	padding: 12px 30px;
	font-size: 18px;
}

.btn-sm,
.btn-group-sm>.btn {
	padding: 6px 25px;
	font-size: 11px;
}

.btn-xs,
.btn-group-xs>.btn {
	padding: 5px 25px;
	font-size: 10px;
}

.btn .icon-before {
	margin-right: 6px;
}

.btn .icon-after {
	margin-left: 6px;
}

.btn .icon-after,
.btn .icon-before {
	font-size: 12px;
}

.btn-list .btn {
	margin-bottom: 5px;
}

/* ---------------------------------------------- /*
 * Main
/* ---------------------------------------------- */

.module {
	position: relative;
	background: #fff;
	padding: 120px 0;
}

.module-gray {
	background: #f5f5f5;
}

.module-dark {
	background: #0E0E0E;
}

.callout,
.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6,
.module-dark,
.module-dark h1,
.module-dark h2,
.module-dark h3,
.module-dark h4,
.module-dark h5,
.module-dark h6,
.intro-module,
.intro-module h1,
.intro-module h2,
.intro-module h3,
.intro-module h4,
.intro-module h5,
.intro-module h6 {
	color: white;
}

.module-header {
	text-align: center;
	margin: 0 0 60px;
}

.long-up {
	margin-top: 60px;
}

.long-up-2x {
	margin-top: 80px;
}

.long-down {
	margin-bottom: 60px;
}

.text-center {
	text-align: center;
}

.devider {
	text-align: center;
	margin: 60px 0 0;
}

.js-hovered {
	cursor: pointer;
}

.js-fade {
	opacity: 0.65;
}

.vjs-control-bar {
	visibility: hidden;
	display: none;
}

.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
}

.bg-dark-alfa-30::after {
	background-color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	content: '';
	z-index: -1;
}

.bg-dark-alfa-60::after {
	background-color: white;
	position: absolute;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	content: '';
	z-index: -1;
}

.bg-dark-alfa-90::after {
	background-color: white;
	position: absolute;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	content: '';
	z-index: -1;
}

/* ---------------------------------------------- /*
 * Callout
/* ---------------------------------------------- */

.callout {
	background-color: white;
	position: relative;
	text-align: center;
	padding: 180px 0;
	z-index: 1;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#callout-one {
	background-image: url(../images/home-2.jpg);
}

#callout-two {
	background-image: url(../images/home-3.jpg);
}

#callout-three {
	background-image: url(../images/home-4.jpg);
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

.module-image {
	background-color: #222;
	background-image: url(../images/home-1.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
}

.video-background {
	background-color: black;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	padding: 0 15px;
}

/* ---------------------------------------------- /*
 * Menu
/* ---------------------------------------------- */

.menu {
	border-bottom: 1px dotted white;
	padding: 0 0 10px;
	margin: 0 0 20px;
}

.menu-classic img {
	margin: 0 0 10px;
}

.menu1 {
	margin-bottom: 18px;
}

.menu-title,
.menu-price {
	font-size: 16px;
	margin: 0;
	color: white;
}

.menu-detail {
	font-size: 14px;
	color: white;
}

.menu-price-detail {
	position: relative;
	text-align: right;
}

.menu-label {
	background: #fae7d7;
	position: relative;
	display: inline-block;
	padding: 2px 10px 0px 10px;
	font-family: 'Crimson Text', serif;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 13px;
	float: right;
	top: 5px;
}

/* ---------------------------------------------- /*
 * Servise
/* ---------------------------------------------- */

.iconbox {
	background: #fae7d7;
	text-align: center;
	padding: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.iconbox-body {
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 25px 10px;
}

.iconbox-icon {
	color: #000;
	font-size: 32px;
	margin-bottom: 25px;
}

.iconbox-title {
	color: #000;
	margin: 0 0 15px;
	padding: 0;
}

.iconbox-desc {
	font-size: 15px;
}

/* ---------------------------------------------- /*
 * Testimonials
/* ---------------------------------------------- */

.testimonial-text {
	text-align: center;
	margin: 0 0 60px;
}

.testimonial-avatar {
	text-align: right;
}

.testimonial-avatar img {
	height: 84px;
	width: 84px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.testimonial-info {
	padding-top: 11px;
	text-align: left;
}

.stars {
	font-size: 12px;
	color: #f1c40f;
}

.stars i {
	margin: 0 2px 0 0;
}

.star-off {
	color: #999;
}

/* ---------------------------------------------- /*
 * Gallery
/* ---------------------------------------------- */

.margin-0 {
	margin: 0 !important;
}

.position-relative {
	position: relative;
}

.side-image {
	position: absolute;
	background: #fae7d7;
	padding: 30px;
	height: 100%;
}

.vertical-body {
	position: relative;
	border: 1px solid rgba(0, 0, 0, .1);
	display: table;
	height: 100%;
	text-align: center;
}

.vertical {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 30px;
}

.gallery-no-padding {
	background: #fff;
}

.gallery-no-padding>.row>.col-sm-4 {
	padding: 0;
}

.gallery-detail {
	border-bottom: 1px dotted #DDD;
	text-align: center;
	margin: 15px 0 20px;
	padding: 0 0 10px;
}

.gallery-title {
	font-size: 16px;
	margin: 0 0 5px;
}

/* ---------------------------------------------- /*
 * Menu Classic, Gallery Overlay
/* ---------------------------------------------- */

.overlay {
	position: relative;
	margin: 0;
}

.overlay a {
	position: absolute;
	text-indent: 200%;
	font-size: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 10;
}

.overlay img {
	display: block;
	height: auto;
	width: 100%;
}

.overlay figcaption {
	background: rgba(0, 0, 0, .8);
	position: absolute;
	text-align: center;
	padding: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.overlay .caption-inner {
	position: absolute;
	margin-top: -25px;
	width: 100%;
	top: 50%;
	left: 0;
}

.overlay:hover figcaption {
	opacity: 1;
}

.overlay:hover span,
.overlay:hover .overlay-icon i {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.overlay-icon {
	border: 2px solid #fff;
	line-height: 48px;
	font-size: 16px;
	margin: 0 auto;
	height: 50px;
	width: 50px;
	color: #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}

.overlay-icon i,
.overlay-icon span {
	color: #F5D76E;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* ---------------------------------------------- /*
 * Twitter
/* ---------------------------------------------- */

.interact a {
	margin-right: 10px;
}

/* ---------------------------------------------- /*
 * Map, Contact and Ajax
/* ---------------------------------------------- */

#map-section {
	position: relative;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

.ajax-response {
	text-align: center;
	padding: 20px;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #000;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-links li {
	display: inline-block;
	margin: 0 5px;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: rgba(0, 0, 0, 0.9);
	padding: 0;
}



.navbar-custom .navbar-nav {
	margin: 1px -15px 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav .dropdown-menu>li>a {
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
}

.navbar-custom .navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	font-size: 32px;
}

.navbar-custom .nav .open>a,
.navbar-custom .nav li a:focus,
.navbar-custom .dropdown-menu>li>a:focus {
	background: none;
	outline: 0;
	color: #fff;
}






.navbar-custom li>a {
	position: relative;
}

.navbar-custom .dropdown-toggle:after {
	position: absolute;
	display: block;
	right: 1px;
	top: 50%;
	margin-top: -5px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 12px;
	content: "\f107";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}







.navbar-custom .nav li a:hover,
.navbar-custom .navbar-nav>li.active a {
	background: none;
	outline: 0;
	color: #F5D76E;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #F5D76E;
	border-radius: 0;
}

.navbar-custom .dropdown-menu>li>a {
	padding: 10px 20px;
}

.navbar-custom .dropdown-menu>li>a:hover {
	background: rgba(0, 0, 0, .9);
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #fff;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu li {
	border-left: 1px solid rgba(32, 31, 31, 0.9);
}

.dropdown-submenu>.dropdown-menu {
	display: block;
	left: 100%;
	top: 0;
	right: inherit;
	margin-top: -2px;
}

.dropdown-submenu>.dropdown-menu {
	visibility: hidden;
	opacity: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
	visibility: visible;
	opacity: 1;
}

.dropdown-submenu>a {
	position: relative;
}

.dropdown-submenu>a:after {
	position: absolute;
	display: block;
	right: 7px;
	top: 50%;
	margin-top: -6px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 12px;
	content: "\f105";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.left-side .dropdown-submenu>.dropdown-menu {
	left: inherit;
	right: 100%;
}

.left-side .dropdown-submenu li {
	border-left: 0;
	border-right: 1px solid rgba(32, 31, 31, 0.9);
}

/* --------------------------------------------------------- */

@media (min-width: 767px) {

	.navbar-transparent {
		background: transparent;
		padding-top: 15px;
		padding-bottom: 15px;
	}

}



@media (max-width: 767px) {



	.navbar-custom .nav li a:hover {
		background: rgba(0, 0, 0, .9);
	}

	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px;
	}

	.navbar-custom li a {
		border-bottom: 1px solid rgba(32, 31, 31, 0.9) !important;
	}

	.dropdown-submenu>.dropdown-menu {
		display: none;
		visibility: visible;
		opacity: 1;
	}

	.dropdown-submenu>.dropdown-open {
		display: block;
	}

	.navbar-nav .open .dropdown-submenu>.dropdown-menu li>a {
		padding-left: 40px;
	}


	.dropdown-submenu>a:after,
	.navbar-custom .dropdown-toggle:after {
		right: 7px;
		content: "\f107";
	}

	.dropdown-submenu>a.angle-up:after,
	.navbar-custom .dropdown-toggle.angle-up:after {
		content: "\f106";
	}

}

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	bottom: 1em;
	right: 1em;
	z-index: 999;
}

.scroll-up a {
	background: #fff;
	display: block;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	color: #000;
	opacity: 0.7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.scroll-up a:hover,
.scroll-up a:active {
	opacity: 1;
	color: #000;
}

/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.mouse-icon {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 40px;
	width: 24px;
	margin-left: -15px;
	display: block;
	z-index: 10;
}

.mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 2px;
	height: 6px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop {
	0% {
		top: 5px;
		opacity: 0;
	}

	30% {
		top: 10px;
		opacity: 1;
	}

	100% {
		top: 25px;
		opacity: 0;
	}
}

@keyframes drop {
	0% {
		top: 5px;
		opacity: 0;
	}

	30% {
		top: 10px;
		opacity: 1;
	}

	100% {
		top: 25px;
		opacity: 0;
	}
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status,
.status-mes {
	background-image: url(../images/preloader1.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.status-mes {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 991px) {

	.side-image {
		position: relative;
		height: auto;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		letter-spacing: 0;
	}

}

@media (max-width: 767px) {

	.menu-title,
	.menu-detail,
	.menu-price-detail {
		text-align: center;
	}

	.menu-label {
		float: none;
	}

	.mouse-icon {
		display: none;
	}

	.iconbox {
		margin: 10px 0;
	}

	.testimonial-avatar,
	.testimonial-info {
		text-align: center;
	}

}

@media (max-width: 568px) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font: 700 38px/1.2 'Crimson Text', serif;
		margin: 0 0 20px;
		color: white;
	}

	h2 {
		font-size: 30px;
		margin: 0 0 18px;
	}

	h3 {
		font-size: 24px;
		margin: 0 0 15px;
	}

	h4 {
		font-size: 20px;
		margin: 0 0 10px;
	}

	h5 {
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 8px;
	}

	h6 {
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 5px;
	}

	blockquote {
		font: 700 38px/1.2 'Dancing Script', cursive;
		margin: 0 0 20px;
		padding: 0;
		border: 0;
	}

	.intro-title,
	.module-title,
	.callout-text,
	.iconbox-title {
		font: 700 38px/1.2 'Dancing Script', cursive;
		margin: 0 0 18px;
	}

	.iconbox-title {
		font-size: 24px;
	}

	.module-subtitle {
		font: 400 10px/1.2 'Libre Baskerville', serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #a7a9ac;
		margin: 0;
	}

}

/* ---------------------------------------------- /*
 * Icons page
/* ---------------------------------------------- */

.sli-examples .item:hover {
	background: #f0f0f0;
	color: white;
}

.sli-examples .item {
	display: block;
	width: 33%;
	float: left;
	padding: 0;
	border: 1px solid #e5e5e5;
	margin: -1px 0 0 -1px;
	font-size: 13px;
}

.sli-examples .item>span {
	display: inline-block;
	margin-right: 5px;
	min-width: 70px;
	min-height: 70px;
	border-right: 1px solid #f1f1f1;
	line-height: 70px;
	text-align: center;
	font-size: 32px;
}

.fa-examples>div {
	padding: 0;
	border: 1px solid white;
	margin: -1px 0 0 -1px;
	font-size: 13px;
}

.fa-examples>div>i {
	display: inline-block;
	margin-right: 5px;
	min-width: 40px;
	min-height: 40px;
	border-right: 1px solid white;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}



.menu-wrapper {
	max-width: 90%;
	padding: 30px 40px 40px 40px;
	border: 2px solid var(--main-color);
	margin: 0 auto;
	background: url(https://cdn.pixabay.com/photo/2018/03/02/13/38/vegetables-3193196_960_720.jpg) center/cover;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 15px;
}

.logo-title-box {
	width: fit-content;
	height: 60px;
	display: flex;
	align-items: flex-end;
	justify-content: left;
	gap: 1rem;
	position: relative;
}

.header-logo {
	width: 90px;
	position: relative;
	top: 12px;
	border-radius: 50%;
	fill: rgb(251, 251, 242);
}

.brewery-title {
	display: flex;
	flex-flow: column;
	font-size: 1.5rem;
	margin: 0;
	text-transform: uppercase;
	/* color: rgb(238, 187, 111); */
	color: white;
}

.brewery-title span {
	margin-top: -7px;
	text-transform: none;

}

.main-header h2 {
	margin: 0;

}

.hr-first {
	margin-top: .7rem;
}

.hr {
	width: 100%;
	height: 3px;


}

.hr-second {
	margin-top: 8px;
	height: 1.5px;
}

.dashed {
	background: repeating-linear-gradient(to right, #FFFFFF 0%, #FFFFFF .8%, transparent .8%, transparent 1.6%);
}

.solid {
	background: white;
	height: 1.5px;
	margin-top: 5px;
}

.beverages-section {
	padding: 4rem 0;
}

.section-title {
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
}

.beverages-main-content {
	display: flex;
}

.section-main-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
	height: 100%;
	padding: 10px;
}

.beer-menu-list {
	display: grid;
	grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
	row-gap: 15px;
	place-items: end start;
	width: 50%;
	flex-grow: 1;
}

.beer-menu-list p {
	margin: 0;
	font-size: 1.1rem;
}

.beer-title-description p:nth-of-type(2) {
	font-size: .9rem;
	opacity: 85%;
}

.beer-menu-hr {
	height: 1px;
	width: 70%;
	margin: 0 auto;
	background-color: var(--main-color);
	margin-bottom: 5px;
}

.col-1 {
	grid-column: 1/2;
}

.col-2 {
	grid-column: 2/3;

}

.col-3 {
	grid-column: 3/4;
}

.price {
	padding: 0 5px;
	background: rgba(159, 112, 19, 0.5);
}

.food-img {
	height: 290px;
}

.main-footer {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 700px) {
	.beverages-main-content {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	.section-main-img {
		order: 1;
		width: 70%;
		height: unset;
	}

	.beer-menu-list {
		order: 2;
		margin-top: 1rem;
		width: 100%;
		max-width: 450px;
	}
}

@media screen and (max-width: 450px) {
	html {
		font-size: 12px;
	}

	.main-header {
		flex-flow: column;
		gap: 15px;
		align-items: center;
	}
}

.mondaviP {
	color: white;
	font-size: 20px;
	white-space: nowrap;
}

.price {
	color: white;
	font-size: 20px;
	white-space: nowrap;
}